/builddir
/*build/
/.cache
/.vscode
.buildconfig

imgui.ini

*.log
*.dxvk-cache

# /subprojects/lua.wrap
/subprojects/packagecache/
/subprojects/libepoxy*/
/subprojects/lua*/
/subprojects/glm*/
/subprojects/libogg*/
/subprojects/wren*/

/lib